.heading-style{
	padding-bottom: 20px;
}
.form-style{
	background-color: #F1F1F1;
	padding-top: 20px;
}
.form-center{
	margin-top: 100px;
}
.picture-container{
	width: 200px;
	height: 200px;
	border: 1px solid #F1F1F1;
}
.table-font{
	font-size: 14px;
}
.txt-msg{
	font-size: 20px;
}
